@using MrMatch.CandidateClient.Handler;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mr. Match 猫奇先生</title>
    <meta name="description" content="Mr. Match">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript">
         var _ticket = '@MrMatch.CandidateClient.Handler.ActionFilters.CurrID.Tickets';
    </script>
    <style>
        #ErrText {
            font-size: larger;
            font-weight: 600;
            color: green;
        }

        img {
            height: auto;
        }

        .content.no-padding {
            float: none;
        }

        [v-cloak] {
            display: none;
        }
    </style>
    <link href="~/Assets/ui-tmpl/ElementUI/element-ui.css" rel="stylesheet" />

    <link href="@Html.GetCssJsUrl("/Assets/css/common.css")" rel="stylesheet" />
    <link href="@Html.GetCssJsUrl("/Assets/css/pages/resume.css")" rel="stylesheet" />

    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    @*<script src="https://unpkg.com/element-ui/lib/index.js"></script>*@
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/bluebird.min.js"></script>
    <script src="~/Scripts/axios.js"></script>
    @*<script src="~/Scripts/storage.js"></script>*@
    
    <script src="@Html.GetCssJsUrl("/Scripts/Config/ChkUtil.js")"></script>
    <script src="@Html.GetCssJsUrl("/Assets/js/config.js")"></script>
    <script src="@Html.GetCssJsUrl("/Assets/js/bus.js")"></script>
</head>
<body>
    <div>
        @Html.Action("PageHead", "PageCommon")

        @RenderBody()

        @Html.Action("PageFoot", "PageCommon")
    </div>
</body>
</html>
